<a href="https://colab.research.google.com/github/Abhishekgutte200/Python_programs/blob/main/data_structures_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.Write a code to reverse a string.

In [ ]:
a = "Abhishek"

print(a[::-1])

kehsihbA

# 2.Write a code to count the number of vowels in string.

In [ ]:
a = "India is my country, all indians are my brothers and sisters."
vowels = "aeiouAEIOU"
count = (sum(a.count(vowel) for vowel in vowels))
print(count)

17

# 3.Write a code to check if a given string is palindrome or not.

In [ ]:
original_string = input("Enter a word:")
case_folded_string = original_string.casefold()
if (case_folded_string==case_folded_string[::-1]):
    print("The given word is Palindrome")
else:
    print("The given word is not Palindrome")

Enter a word:Refer
The given word is Palindrome

# 4.Write a code to check if two given strings are anagrams of each other.

In [ ]:

def check(s1, s2):

   if (sorted(s1)== sorted(s2)):
        print("The strings are anargams")
   else:
        print("The strings are not anargms")

s1 = "listen"
s2 = "silent"
check(s1, s2)

The strings are anargams

# 5.Write a code to find all occurrences of a given substring within another string.

In [ ]:
string = "India is my country ,all indians are my brothers and sisters."

substring = "sisters"

if substring in string:
  print("The substring is present in the string")
else:
  print("The substring is not present in the string")

The substring is present in the string

# 6.Write a code to perform basic string compression using the counts of repeated characters.

In [ ]:
string = input("Enter a string:" )
lst = []
for data in string:
    if data not in lst:
        lst.append(data)
        print(data, string.count(data), end =" ")

Enter a string:abhishek
a 1 b 1 h 2 i 1 s 1 e 1 k 1

# 7.Write a code to determine if a string has all unique characters.

In [ ]:
def is_unique(s):
  return len(set(s)) == len(s)

string = "Abhiskek"
if is_unique(string):
  print("The string has all unique characters")
else:
  print("The string does not have all unique characters")

The string does not have all unique characters

# 8.Write a code to convert a given string to uppercase or lowercase.

In [ ]:
a = "Abhishek"
print(a.upper())
print(a.lower())

ABHISHEK
abhishek

# 9.Write a code to count the number of words in a string.

In [ ]:
a = "India is my country ,all indians are my brothers and sisters."
len(a.split())
print(len(a.split()))

11

# 10.Write a code to concatenate two strings without using the + operator.

In [ ]:
str1 = "Abhishek"
str2 = "Gutte"
result ="".join([str1,str2])
print(result)

AbhishekGutte

# 11.Write a code to remove all occurences of a specific element from a list.

In [ ]:
lst = ["a","b","c","d","e","b","c"]
while "b" in lst:
 lst.remove("b")
print(lst)

['a', 'c', 'd', 'e', 'c']

# 12.Implement a code to find the second largest number in a given list of integers.

In [ ]:
lst = [1,2,3,4,4,5,6,7,18,1,10]

lst.sort()
second_largest = lst[-2]

print(second_largest)

10

# 13.Create a code to count the occurrences of each element of list and return a dictionary with elements as keys and their counts as values.

In [ ]:
numbers = [1,2,3,3,4,4,5,5]
count = {}
for num in numbers:
    if num in count:
        count[num] += 1
    else:
        count[num] = 1
print(count)

{1: 1, 2: 1, 3: 2, 4: 2, 5: 2}

# 14.Write a code to reverse a list in-place without using any built-in reverse function.

In [ ]:
lst = [1,2,3,4,5,6,7,8,9,10]
print(lst[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# 15.Implement a code to find and remove duplicates from a list while preserving the original order of elements.

In [ ]:
lst = [1,2,2,4,5,6,7,8,9,10]
new_list = []
for i in lst:
  if i not in new_list:
    new_list.append(i)
print(new_list)

[1, 2, 4, 5, 6, 7, 8, 9, 10]

# 16.Create a code to check if a given list is sorted (either in ascending or descending order)or not.

In [ ]:
lst = [1,2,3,4,5,6,9,8,9,10]
if lst == sorted(lst):
    print("The list is sorted in ascending order")
elif lst == sorted(lst, reverse = True):
    print("The list is sorted in descending order")
else:
    print("The list is not sorted")

The list is not sorted

# 17.Write a code to merge two sorted lists into a single sorted list.

In [ ]:
lst1 = [1,2,3,4,5,6,7,8,9,10]
lst2 = [11,12,13,14,15,16,17,18,19,20]
merged_list = sorted(lst1 + lst2)
print(merged_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

# 18.Implement a code to find the intersection of two given lists.

In [ ]:
lst1 = [1, 2, 3, 4, 5]
lst2 = [4, 5, 6, 7, 8]

intersection = list(set(lst1) & set(lst2))
print(intersection)

[4, 5]

# 19.Create a code to find the union of two lists without duplicates

In [ ]:
lst1 = [1, 2, 3, 4, 5]
lst2 = [4, 5, 6, 7, 8]

union = list(set(lst1) | set(lst2))
print(union)

[1, 2, 3, 4, 5, 6, 7, 8]

# 20.Write a code to shuffle a given list randomly without using any built-in shuffle functions.

In [ ]:
lst = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
import random
lst = [1,2,3,4,5,6,7,8,9,10]
for i in range(len(lst)-1, 0, -1):
    j = random.randint(0, i)
    lst[i], lst[j] = lst[j], lst[i]
print(lst)

[5, 8, 6, 9, 2, 1, 4, 7, 3, 10]

# 21.Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both tuples

In [ ]:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)

common_elements = tuple(set(tuple1) & set(tuple2))

print(common_elements)

(4, 5)

# 22.Create a code that prompts the user to enter two sets of integers separated by commas.Then, print the intersection of these two sets.

In [ ]:
set

In [ ]:
set1 = set(map(int, input("Enter the first set of integers separated by commas: ").split(",")))
set2 = set(map(int, input("Enter the second set of integers separated by commas: ").split(",")))

intersection = set1 & set2

print("Intersection:", intersection)

Enter the first set of integers separated by commas: 1,2,5,4,85
Enter the second set of integers separated by commas: 2,14,0,1
Intersection: {1, 2}

# 23.Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [ ]:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (6, 7, 8, 9, 10)

concatenated_tuple = tuple1 + tuple2

print(concatenated_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# 24.Develop a code that prompts the user to input two sets of strings.Then, print the elements that are present in the first set but not in the second set.

In [ ]:
set1 = set(input("Enter the first set of strings separated by commas: ").split(","))
set2 = set(input("Enter the second set of strings separated by commas: ").split(","))

difference = set1 - set2

print("Elements in the first set but not in the second set:", difference)

Enter the first set of strings separated by commas: 1,2,3
Enter the second set of strings separated by commas: 4,5,6
Elements in the first set but not in the second set: {'3', '2', '1'}

# 25.Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.

In [ ]:
def slice_tuple(original_tuple, start_index, end_index):
  new_tuple = original_tuple[start_index:end_index]
  return new_tuple

# Example usage
tuple1 = (1, 2, 3, 4, 5)
start_index = 1
end_index = 4
sliced_tuple = slice_tuple(tuple1, start_index, end_index)
print(sliced_tuple)

(2, 3, 4)

# 26.Write a code that prompts the user to input two sets of characters. Then ,print the union of these two sets.

In [ ]:
set1 = set(input("Enter the first set of characters separated by commas: ").split(","))
set2 = set(input("Enter the second set of characters separated by commas: ").split(","))

union = set1 | set2

print("Union:", union)

Enter the first set of characters separated by commas: a,b,c,d,e
Enter the second set of characters separated by commas: e,g,h,h,i
Union: {'d', 'b', 'i', 'g', 'h', 'e', 'c', 'a'}

# 27.Develop a code that takes a tuple of integers as input. The function should return the maximum and mimimum values from the tuple using tuple unpacking.

In [ ]:
def find_max_min(numbers):
  max_value, min_value = max(numbers), min(numbers)
  return max_value, min_value

# Example usage
numbers = (1, 2, 3, 4, 5)
max_value, min_value = find_max_min(numbers)
print("Maximum:", max_value)
print("Minimum:", min_value)

Maximum: 5
Minimum: 1

# 28.Create a code that defines two sets of integers.Then, print the union, intersection, and differences of these two sets.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union = set1 | set2
intersection = set1 & set2
difference1 = set1 - set2
difference2 = set2 - set1

print("Union:", union)
print("Intersection:", intersection)
print("Difference (set1 - set2):", difference1)
print("Difference (set2 - set1):", difference2)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (set1 - set2): {1, 2, 3}
Difference (set2 - set1): {8, 6, 7}

# 29.Write a code that takes a tuple and an element as input.The function should return the count of occurrences of the given element in the tuple.

In [ ]:
def count_occurrences(tuple1, element):
  count = tuple1.count(element)
  return count

# Example usage
tuple1 = (1, 2, 2, 3, 4, 2)
element = 2
occurrences = count_occurrences(tuple1, element)
print("Occurrences:", occurrences)

Occurrences: 3

# 30.Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets.

In [ ]:
set1 = set(input("Enter the first set of strings separated by commas: ").split(","))
set2 = set(input("Enter the second set of strings separated by commas: ").split(","))

symmetric_difference = set1 ^ set2

print("Symmetric difference:", symmetric_difference)

Enter the first set of strings separated by commas: a,b,h,s,h,e,k
Enter the second set of strings separated by commas: a,k,s,h,a,y
Symmetric difference: {'y', 'b', 'e'}

# 31.Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

In [ ]:
def word_frequencies(words):
  frequency = {}
  for word in words:
    if word in frequency:
      frequency[word] += 1
    else:
      frequency[word] = 1
  return frequency

words = ["apple", "banana", "apple", "cherry", "banana", "apple"]
result = word_frequencies(words)
print(result)

{'apple': 3, 'banana': 2, 'cherry': 1}

# 32.Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together.

In [ ]:
dict1 = {"a": 1, "b": 2, "c": 3}
dict2 = {"b": 4, "c": 5, "d": 6}

for key in dict2:
    if key in dict1:
        dict2[key] = dict2[key] + dict1[key]

merged_dict = {**dict1, **dict2}
print(merged_dict)

{'a': 1, 'b': 6, 'c': 8, 'd': 6}

# 33.Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not ezist in the dictionary, the function should return None.

In [ ]:
def get_value(nested_dict, keys):
  current_level = nested_dict
  for key in keys:
    if isinstance(current_level, dict) and key in current_level:
      current_level = current_level[key]
    else:
      return None
  return current_level

# Example usage
nested_dict = {"a": {"b": {"c": 10}}}
keys = ["a", "b", "c"]
value = get_value(nested_dict, keys)
print(value)

10

# 34.Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order.

In [ ]:
my_dict = {'apple': 3, 'banana': 1, 'cherry': 2}

# Sort in ascending order
sorted_dict_asc = dict(sorted(my_dict.items(), key=lambda item: item[1]))

# Sort in descending order
sorted_dict_desc = dict(sorted(my_dict.items(), key=lambda item: item[1], reverse=True))

print("Ascending:", sorted_dict_asc)
print("Descending:", sorted_dict_desc)

Ascending: {'banana': 1, 'cherry': 2, 'apple': 3}
Descending: {'apple': 3, 'cherry': 2, 'banana': 1}

# 35.Write a code that inverts a doctionary. Swapping  keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the some value by storing the keys as a list inthe inverted dictionary.

In [ ]:
my_dict = {'apple': 3, 'banana': 1, 'cherry': 2, 'date': 1}

inverted_dict = {}
for key, value in my_dict.items():
  if value not in inverted_dict:
    inverted_dict[value] = [key]
  else:
    inverted_dict[value].append(key)

print(inverted_dict)

{3: ['apple'], 1: ['banana', 'date'], 2: ['cherry']}