<a href="https://colab.research.google.com/github/Abhishekgutte200/Python_programs/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.What is the difference between a function and a method in python?

Functions:

1. Independent blocks of code.
2. Defined outside classes.
3. Called directly by their name.
4. Don't have access to a specific object's attributes.

In [ ]:
#Example:

def greet(name):
    print(f"Hello, {name}!")

greet("John")

Hello, John!

Methods:

1. Defined inside classes.
2. Belong to a specific object or class.
3. Called using the object's name followed by the method name.
4. Have access to the object's attributes.

In [ ]:
#Example:

class Person:
    def __init__(self, name):
        self.name = name

    def greet(self):
        print(f"Hello, my name is {self.name}!")

person = Person("John")
person.greet()

Hello, my name is John!

Key differences:


- Context: Functions are standalone, while methods are part of a class.
- Access: Methods can access object attributes; functions cannot.
- Calling: Functions are called directly; methods are called using an object.

# 2.Explain the concept of function arguments and parameters in python.

In Python, parameters are the variables listed inside the parentheses in the function definition.

Arguments are the values that are sent to the function when it is called.

For example, in your code:

In [ ]:
def greet(name):
    print(f"Hello, {name}!")

greet("John")

Hello, John!

name is the parameter and "John" is the argument.

# 3.What are the different ways to define and call a function in python?

**Defining a Function**

***Standard Function*** : Use the def keyword followed by the function name, parentheses for parameters, and a colon.

In [ ]:

def greet(name):
    print(f"Hello, {name}!")

***Lambda Function***: Create small, anonymous functions using the lambda keyword.

In [ ]:
add = lambda x, y: x + y

**Calling a Function**

***Direct Call ***: Use the function name followed by parentheses.

In [ ]:
def my_function(arg1 ,arg2):
       result = my_function(arg1, arg2)
       print(result)

Call within a Function: Functions can call other functions.

In [ ]:
def outer_function():
    def inner_function():
        print("Inner function")
    inner_function()

outer_function()

Inner function

Call using a Variable: If a function is assigned to a variable, call it using the variable name.

In [ ]:
def my_function():
    print("Hello, World!")

my_function()

Hello, World!

# 4.What is the purpose of the 'return' statement in a python function?

In Python, a 'return' statement is used to specify the value that a function should output. When a return statement is encountered within a function, the function's execution immediately stops, and the specified value is passed back to the caller of the function.

In [ ]:
def add(x, y):
  return x + y

result = add(5, 3)
print(result)

8

# 5.What are iterators in python and how do they differ from iterables?

In Python, iterables are objects that you can iterate over, like lists, tuples, and strings. Iterators are objects that allow you to traverse through an iterable, returning one element at a time.

Iterables have the __iter__() method, which returns an iterator object. Iterators have the __next__() method which returns the next element in the sequence.

For example:

In [ ]:
my_list = [1, 2, 3] #This is an iterable
my_iterator = iter(my_list) # This returns an iterator

print(next(my_iterator))
print(next(my_iterator))
print(next(my_iterator))

1
2
3

# 6.Explain the concept of generators in python and how they are defined.

Generators are special functions that produce a sequence of values using the yield keyword. When called, they don't return a single value, but an iterator. This iterator can be used to generate values on demand, which is memory-efficient, especially for large datasets.

Here's how you define a generator:

In [ ]:
def my_generator(n):
  for i in range(n):
    yield i

This code defines a generator my_generator that yields numbers from 0 to n-1. The yield keyword pauses the function and returns a value. When you call next() on the generator's iterator, it resumes from where it left off and yields the next value.

# 7.What are the advantages of using generators over regular functions?


Generators have several advantages over regular functions:

***Memory Efficiency:*** Generators yield one value at a time, so they don't store the entire sequence in memory. This is useful for large datasets.

***Lazy Evaluation***:Values are generated only when needed, improving performance.

***Infinite Sequences:*** Generators can represent infinite sequences without consuming infinite memory.

***Readability:*** Generators can simplify code for tasks like generating sequences.

For example, if you need to process a large file, a generator can read and process it line by line without loading the whole file into memory.

# 8.What is a lambda function in python and when is it typically used?



Lambda functions are small, anonymous functions defined using the lambda keyword. They are typically used when you need a simple function for a short period and don't want to define a full function using def.

For example:

In [ ]:
add = lambda x, y: x + y

This code defines a lambda function that takes two arguments and returns their sum. It's often used with functions like map, filter, and reduce.

# 9.Explain the purpose and usage of the 'map()' function in python.

The map() function applies a given function to each item in an iterable (like a list or tuple) and returns an iterator with the results.

**1.Define a function:** This function will be applied to each element of the iterable.

In [ ]:
def square(x):
       return x * x

**2.Create an iterable:** This could be a list, tuple, etc.

In [ ]:
numbers = [1, 2, 3, 4, 5]

**3.Use the map() function**: Pass the function and the iterable as arguments to map().

In [ ]:
squared_numbers = map(square, numbers)

**4.Convert to a list (or another iterable):** The map() function returns an iterator. To see the results, convert it to a list.

In [ ]:
squared_numbers_list = list(squared_numbers)

Execute the code yourself to see the output.

When to use map():

When you need to apply the same operation to every item in an iterable.
When you want to transform the elements of an iterable.
Instead of using map(), you can achieve the same results using list comprehension which might be more efficient.

# 10.What is the difference between 'map()','reduce()'and 'filter()' functions in python?



Here's the difference between map(), reduce(), and filter():

**map()**: This function applies a given function to each item in an iterable (like a list) and returns an iterator with the results.

**reduce()**: This function applies a given function to the elements of an iterable in a cumulative way, reducing them to a single value.

**filter()** : This function creates an iterator with elements from an iterable that pass a certain condition.
Here's a simple example to illustrate the differences:

In [ ]:
# Define functions for map, reduce, and filter
def square(x):
  return x * x

def add(x, y):
  return x + y

def is_even(x):
  return x % 2 == 0

# Create a list
numbers = [1, 2, 3, 4, 5]

# Use map to square each number
squared_numbers = map(square, numbers)

# Use reduce to add all numbers
from functools import reduce
sum_of_numbers = reduce(add, numbers)

# Use filter to get even numbers
even_numbers = filter(is_even, numbers)

# Convert the results to lists to see the output
squared_numbers_list = list(squared_numbers)
even_numbers_list = list(even_numbers)

print(squared_numbers_list)
print(sum_of_numbers)
print(even_numbers_list)

[1, 4, 9, 16, 25]
15
[2, 4]

# 11.Using pen and paper write the internal mechanism for sum operation using reduce function on this given list[47,11,42,13];

Steps

**1.reduce(add, [47, 11, 42, 13])**

The reduce function is called with the add function (which performs addition) and the list.

**2.add(47, 11)**

reduce takes the first two elements (47 and 11) and applies the add function to them.
Result: 58

**3.add(58, 42)**

reduce takes the previous result (58) and the next element (42) and applies add.
Result: 100

**4.add(100, 13)**

reduce takes the previous result (100) and the last element (13) and applies add.
Result: 113

**5.113**

reduce has processed all elements and returns the final result: 113
Sources
Rate this answer

12.

# **PRACTICAL QUESTIONS**

# 1.Write a python function that takes a list of numbers as input and returns the sum of all even numbers in the list.

In [ ]:
def sum_even_numbers(numbers):
  """
  This function takes a list of numbers and returns the sum of all even numbers.
  """
  sum = 0
  for number in numbers:
    if number % 2 == 0:
      sum += number
  return sum

# Example usage
numbers = [1, 2, 3, 4, 5, 6]
even_sum = sum_even_numbers(numbers)
print(f"The sum of even numbers is: {even_sum}")

The sum of even numbers is: 12

# 2.Create a python function that accepts a string and returns the reverse of that string.

In [ ]:
def reverse_string(s):
  return s[::-1]

# Example usage
string = "Hello, World!"
reversed_string = reverse_string(string)
print(f"Reversed string: {reversed_string}")

Reversed string: !dlroW ,olleH

# 3.Implement a python function that takes a list of integers and returns a new list containing the square of each number.

In [ ]:
def square_list(numbers):
  """
  This function takes a list of integers and returns a new list containing the square of each number.
  """
  squared_numbers = [number**2 for number in numbers]
  return squared_numbers

# Example usage
numbers = [1, 2, 3, 4, 5]
squared_numbers = square_list(numbers)
print(f"Squared numbers: {squared_numbers}")

Squared numbers: [1, 4, 9, 16, 25]

# 4.Write a python function that checks if a given number is prime or not from 1 to 200

In [ ]:
def is_prime(n):
  """
  This function checks if a number is prime or not.
  """
  if n <= 1:
    return False
  if n <= 3:
    return True
  if n % 2 == 0 or n % 3 == 0:
    return False
  i = 5
  while i * i <= n:
    if n % i == 0 or n % (i + 2) == 0:
      return False
    i += 6
  return True

# Example usage
for num in range(1, 201):
    if is_prime(num):
        print(f"{num} is a prime number")

2 is a prime number
3 is a prime number
5 is a prime number
7 is a prime number
11 is a prime number
13 is a prime number
17 is a prime number
19 is a prime number
23 is a prime number
29 is a prime number
31 is a prime number
37 is a prime number
41 is a prime number
43 is a prime number
47 is a prime number
53 is a prime number
59 is a prime number
61 is a prime number
67 is a prime number
71 is a prime number
73 is a prime number
79 is a prime number
83 is a prime number
89 is a prime number
97 is a prime number
101 is a prime number
103 is a prime number
107 is a prime number
109 is a prime number
113 is a prime number
127 is a prime number
131 is a prime number
137 is a prime number
139 is a prime number
149 is a prime number
151 is a prime number
157 is a prime number
163 is a prime number
167 is a prime number
173 is a prime number
179 is a prime number
181 is a prime number
191 is a prime number
193 is a prime number
197 is a prime number
199 is a prime number

# 5.Create a iterator class in python that generates the Fibonacci sequence up to a specified number of terms.

In [ ]:
class FibonacciIterator:
    def __init__(self, max_terms):
        self.max_terms = max_terms
        self.count = 0
        self.a = 0
        self.b = 1

    def __iter__(self):
        return self

    def __next__(self):
        if self.count < self.max_terms:
            fib = self.a
            self.a, self.b = self.b, self.a + self.b
            self.count += 1
            return fib
        else:
            raise StopIteration

# Example usage:
fib_gen = FibonacciIterator(10)
for num in fib_gen:
    print(num)

0
1
1
2
3
5
8
13
21
34

# 6.Write a generator function in python that yields the power of 2 up to a given exponent.

In [ ]:
def powers_of_two(exponent):
  """Yields the power of 2 up to a given exponent."""
  for i in range(exponent + 1):
    yield 2 ** i

# Example usage
for power in powers_of_two(5):
  print(power)

1
2
4
8
16
32

# 7.Implement a generator function that reads a file line by line and yields each line as a string.

In [ ]:
def read_file_line_by_line(file_path):
    """
    Generator function to read a file line by line.

    Args:
        file_path (str): Path to the file.

    Yields:
        str: Next line in the file.
    """
    try:
        with open(file_path, 'r') as file:
            for line in file:
                yield line.strip()  # Remove leading/trailing whitespace
    except FileNotFoundError:
        print(f"File not found: {file_path}")
        return


# Example usage:
file_path = 'example.txt'
for line in read_file_line_by_line(file_path):
    print(line)

File not found: example.txt

# 8.Use a lambda function in python to sort a list of tuples based on the second element of each tuple.

In [ ]:
tuples = [(1, 5), (3, 2), (2, 8)]
sorted_tuples = sorted(tuples, key=lambda x: x[1])
print(sorted_tuples)

[(3, 2), (1, 5), (2, 8)]

# 9.Write a python program that uses 'map()' to convert a list of temperatures from celsius to fahrenheit.

In [ ]:
celsius_temperatures = [0, 10, 20, 30, 40]

fahrenheit_temperatures = list(map(lambda c: (9/5) * c + 32, celsius_temperatures))

print(fahrenheit_temperatures)

[32.0, 50.0, 68.0, 86.0, 104.0]

# 10.Create a python program that uses 'filter()' to remove all the vowels from a given string.

In [ ]:
vowels = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']
string = "Hello, World!"
result = ''.join(filter(lambda char: char not in vowels, string))
print(result)

Hll, Wrld!

# 11.Imagine an accounting routime used in a book shop. It works on a list with sublists, which look like this;

![WhatsApp Image 2024-09-22 at 18.19.59.jpeg]()

Write a python program, which returns a list with 2-tuples.Each tuple consists of the order number and the product of the price per item and the quantity. The product should be increased by 10,-$ if the value of the order is smaller than 100,00.

Write a python program unsing lambda and map

In [ ]:
orders = [ [1, 10.00, 5], [2, 20.00, 3], [3, 5.00, 10] ]

result = list(map(lambda order: (order[0], order[1] * order[2] + 10 if order[1] * order[2] < 100 else order[1] * order[2]), orders))

print(result)

[(1, 60.0), (2, 70.0), (3, 60.0)]